* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-principal: #f2994a;
}

.container {
  position: relative;
  width: 85%;
  min-width: 500px;
  max-width: 1200px;
  margin: 25px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 210px;
  grid-template-rows: repeat(auto-fill, 1fr), 1fr;
  grid-template-areas:
    "title title title"
    "img img img"
    "main main sidebar"
    "footer footer footer";
  gap: 5px;
  /* outline: 2px solid rgba(0, 0, 0, 0.5); */
}

.headboard {
  grid-area: title;
}

.headboard__title {
  margin-bottom: 10px;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}

.headboard__text {
  width: 660px;
  min-width: 480px;
  margin-bottom: 35px;
  font-size: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

.image {
  margin-bottom: 25px;
  grid-area: img;
}

img {
  width: 100%;
  max-width: 1300px;
  min-width: 500px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.main {
  grid-area: main;
}

.sidebar__container {
  position: relative;
  left: 10%;
  grid-area: sidebar;
}

.sidebar {
  position: sticky;
  width: 170px;
  height: 240px;
  top: 70px;
  left: 50px;
  margin: 20px 0;
  padding: 20px 5px;
  background-color: #fff;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__div {
  margin: 0 0 15px 65px;
}

.sidebar--food::before {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  margin-top: 6px;
  margin-left: 30px;
  content: "\f2e7";
  font-size: 1.5rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--color-principal);
}

.sidebar--time::before {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  margin-top: 6px;
  margin-left: 30px;
  content: "\f017";
  font-size: 1.5rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #333;
}

.aside__litle-title {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #555;
}

.sidebar--food:first-child {
  color: var(--color-principal);
}

.aside__time {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.main__subtitle {
  margin-bottom: 35px;
  font-family: "Playfair Display", serif;
}

.topic {
  width: 85%;
  min-width: 480px;
  margin-bottom: 35px;
}

.topic:last-child {
  margin-bottom: 45px;
}
.topic__title {
  margin-bottom: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.instructions {
  width: 85%;
  min-width: 480px;
}

.steps {
  margin-bottom: 15px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  appearance: none;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #333;
}

input[type="checkbox"]::after {
  width: 18px;
  height: 18px;
  cursor: pointer;
  content: "\f00c";
  color: var(--color-principal);
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

input[type="checkbox"]:hover {
  background-color: rgb(228, 228, 228);
}

input[type="checkbox"]:checked {
  background-color: #fff;
}

input[type="checkbox"]:checked::after {
  display: block;
}

.bold {
  color: #000;
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.list li {
  margin: 0 0 25px 20px;
}

.list {
  margin-bottom: 35px;
  counter-reset: list;
  list-style: none;
}

ol .adjust {
  position: relative;
  display: block;
  padding: 0.4em;
  padding: 0.4em;
  margin: 0.5em 0 0.5em 2.5em;
  color: #444;
  transition: all 0.3 ease-out;
  -webkit-transition: all 0.3 ease-out;
  -moz-transition: all 0.3 ease-out;
  -ms-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.list .adjust:hover {
  background-color: #eee;
  transition: background-color 0.8s;
  -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  -ms-transition: background-color 0.8s;
  -o-transition: background-color 0.8s;
}

.list div::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2.5em;
  top: 1.2rem;
  margin-top: -1em;
  color: #fff;
  font-size: 1.1rem;
  font-family: serif;
  background-color: var(--color-principal);
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.list li {
  line-height: 30px;
}

.footer {
  width: 300px;
  margin: 0 auto 25px auto;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  color: #333;
  grid-area: footer;
}

.link {
  color: #333;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .container {
    position: relative;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr), 1fr;
    grid-template-areas:
      "title title title"
      "img img img"
      "sidebar sidebar sidebar"
      "main main main"
      "footer footer footer";
    gap: 0;
  }

  .sidebar__container {
    position: static;
  }

  .sidebar {
    width: 95%;
    height: 80px;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar__div {
    margin: 0 0 0 0;
    flex-basis: 70px;
  }

  .sidebar--time {
    position: relative;
  }

  .sidebar--food::before {
    position: absolute;
    left: 0px;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-left: 30px;
    content: "\f2e7";
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--color-principal);
  }

  .sidebar--time::before {
    left: -65px;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-left: 30px;
    content: "\f017";
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #333;
  }
}

@media screen and (max-width: 425px) {
  .container {
    position: relative;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr), 1fr;
    grid-template-areas:
      "title title title"
      "img img img"
      "sidebar sidebar sidebar"
      "main main main"
      "footer footer footer";
    gap: 0;
  }

  .headboard__title {
    margin: 0 0 10px 10px;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
  }

  .headboard__text {
    width: 460px;
    min-width: 480px;
    margin: 0 0 20px 20px;
    font-size: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image {
    margin-bottom: 5px;
    grid-area: img;
  }

  img {
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
  }

  .sidebar__container {
    position: static;
  }

  .sidebar {
    width: 95%;
    height: 140px;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar__div {
    margin: 0 0 0 0;
    flex-basis: 70px;
  }

  .sidebar--food {
    position: absolute;
    left: 45px;
  }

  .sidebar--time {
    position: relative;
    margin-top: 60px;
  }

  .sidebar--food::before {
    position: absolute;
    left: -62px;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-left: 30px;
    content: "\f2e7";
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--color-principal);
  }

  .sidebar--time::before {
    position: absolute;
    left: -65px;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-left: 30px;
    content: "\f017";
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #333;
  }

  .main {
    padding-left: 10px;
  }
  .main__subtitle {
    margin-bottom: 35px;
    font-family: "Playfair Display", serif;
  }

  .topic {
    width: 85%;
    min-width: 480px;
    margin-bottom: 35px;
  }

  .topic:last-child {
    margin-bottom: 45px;
  }

  .topic__title {
    margin-bottom: 25px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
  }

  .instructions {
    width: 85%;
    min-width: 480px;
  }

  .steps {
    margin-bottom: 15px;
  }

  .footer {
    width: 500px;
    height: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
}
